# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
uploads
# Logs
*.log

# Coverage
coverage/

# Entornos
.env
.env.*
!06-log-metric/ejemplos/1.graylog/.env

# Otros temporales
.DS_Store

# Compress files and backups
*.tar
backups/