# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
uploads
# Logs
*.log

# Coverage
coverage/

# Entornos
.env
.env.*

# Otros temporales
.DS_Store

# Compress files and backups
*.tar
backups/