# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
uploads
# Logs
*.log

# Coverage
coverage/

# Entornos
!9.env/
!9.env/**
.env
.env.*


# Otros temporales
.DS_Store

